.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

@media (max-width: 550px) {
    .logo {
        margin: auto;
        width: 70%;
        margin-left: 70px;
    }
}

.red {
    background-color: #53a451;
    border: solid #53a451 1px;
}

.redBtn{
    color: white;
}

.redBtn:hover {
    background-color: #53a451;
    opacity: .9;
    color: white;
}

.red-text {
    color: #53a451;
}

.circleBtn {
    border-radius: 70px;
    width: 40px;
    height: 40px;
    border: solid #53a451 1px;
    box-shadow: 0 4px 11px rgba(4, 114, 29, 0.463);
    -webkit-box-shadow: 0 4px 11px rgba(4, 114, 29, 0.463);
    -moz-box-shadow: 0 4px 11px rgba(4, 114, 29, 0.463);
}


