{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/nutrition.css?{% now "U" %}"/>
    <script type="module" src='../static/nutrition.js'> </script>
    <script src="https://kit.fontawesome.com/8ae2d180d5.js" crossorigin="anonymous"></script>
    <title>Log-in</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <nav class="navbar sticky-top navbarColor">
        <div class="col-5">
            <a class="navbar-brand mc">Macro Counter</a>
        </div>
        <div class="col-7 navText">
            <a class="navbar-brand addFood" href="#" style="font-size: 15px; color:  white;">Add Meal</a>
            <a class="navbar-brand" href="#" style="font-size: 15px; color:  white;">Stats</a>
            <a class="navbar-brand logout" href="#" style="font-size: 15px; color: white;">Logout</a>
        </div>
    </nav>
    
    {% if activity_level == "active" %}
    <div class="main">
        <h2>Daily Macro Goals</h2>
            <br>
            <div class="progress green">
        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="{% widthratio protein protein_active 100 %}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio protein protein_active 100 %}%">
            {{protein}}g
        </div>
      </div>
            <h6 class="goalLabel">{{protein_active}}g Protein</h6>
            <br>
            <div class="progress green">
        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="{% widthratio carbs carbs_active 100 %}" aria-valuemin="0" aria-valuemax="100" style="width:{% widthratio carbs carbs_active 100 %}%">
            {{carbs}}g
        </div>
      </div>
            <h6 class="goalLabel">{{carbs_active}}g Carbs</h6>
            <br>
           <div class="progress green">
        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="{% widthratio fat fat_active 100 %}" aria-valuemin="0" aria-valuemax="100" style="width:{% widthratio fat fat_active 100 %}%">
            {{fat}}g
        </div>
      </div>
            <h6 class="goalLabel">{{fat_active}}g Fat</h6>
        </div>
    {%else%}
    
    <div class="main">
        <h2>Daily Macro Goals</h2>
            <br>
            <div class="progress green">
        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="{% widthratio protein protein_sedentary 100 %}" aria-valuemin="0" aria-valuemax="100" style="width:{% widthratio protein protein_sedentary 100 %}%">
            {{protein}}g
        </div>
      </div>
            <h6 class="goalLabel">{{protein_sedentary}}g Protein</h6>
            <br>
            <div class="progress green">
        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
            {{carbs}}g
        </div>
      </div>
            <h6 class="goalLabel">{{carbs_sedentary}}g Carbs</h6>
            <br>
           <div class="progress green">
        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
            {{fat}}g
        </div>
      </div>
            <h6 class="goalLabel">{{fat_sedentary}}g Fat</h6>
        </div>
    {% endif %}
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</html>